 * {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
} 

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    display: flex;
    width: 1350px;
    display: flex;
    align-items: center;
    margin: auto;
    margin-top: 15px;
}

.left, .rigth {
    width: 50%;
    font-size: 17px;
}

.rigth {
    display: flex;
    justify-content: end;
    gap: 30px;

}


.left {
    display: flex;
    align-items: center;
    gap: 30px;
}


a {
    text-decoration: none;
    color: black;
}

a:hover {
    color: rgb(54, 54, 238);
    transition: 0.3s;
}

.button1 {
    color: white;
    background-color: #f20091;
    font-weight: bold;
    border: none;
    border-radius: 4px;
    height: 40px;
    width: 140px;
    font-size: 16px;
    margin-left: 50px;
    cursor: pointer;
    
}

.button1:hover {
    background-color: #cb037b;
    transition: 0.7s;
}



img {
    height: 35px;
    width: 150px;
}


nav {
    background-color: #0e1724;
    height: 50px;
    margin-top: 20px;
}

nav a {
    color: white;
}


.navbar ul li{
    display: inline;
    padding-right: 25px;
   
}

.navbar {
    padding-top: 15px;
    padding-left: 60px;
}


.navbar ul li a {
    font-weight: 100;
    font-size: 15px;
}


/* Segunda parte */

.main-section {
    margin-left: 45px;
    margin-top: 60px;
}

.principal h1 {
    font-weight: bold;
    font-size: 48px;
    margin-bottom: 20px;
}

.principal p {
    font-weight: bold;
    font-size: 22px;
    margin-bottom: 20px;
}

.botao {
    display: flex;
}

.button2 .first {

    height: 65px;
    margin-right: 20px;
    width: 260px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    color: white;
    background-color: #f20091;
    border: none;
}

.button3 .second {
    height: 65px;
    width: 350px;
    font-size: 22px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    border: 2px solid white;
}

